{
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors"
  ],
  "parser": "babel-eslint",
  "globals": {
    "Promise": false,
    "console": false,
    "process": false,
    "document": false
  }
}
