#customer-view {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  padding: 20em 0 20em 0;

  p {
    color: white;
    margin-top: 0;
    font-size: 16px;
  }

  input {
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 4px;
    margin: 16px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    width: 25%;
    max-width: 350px;

    &:focus {
      outline: none;
    }
  }

  #search-form {
    * {
      display: inline-block;
    }

    #search-button {
      margin-left: 24px;
      vertical-align: top;
      margin-top: 16px;
    }
  }

  #price-list {
    padding-top: 48px;

    p {
      display: inline-block;
      margin: 8px;
    }

    .company {
      font-weight: 700;
    }
  }
}

.pac-container {
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
  border-radius: 0 0 8px 8px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.pac-item {
  &:nth-child(1) {
    border-top: none;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  * {
    color: white;
  }
}

@media only screen and (max-width: 750px) {
  #customer-view {
    padding: 1em 0 0 0;

    & > p {
      width: 80%;
      margin-left: 10%;
      margin-top: 16px;
    }

    #search-form {
      width: 80%;
      margin-left: 10%;
      text-align: center;

      * {
        display: block;
      }

      input {
        width: 100%;
        margin: 16px 0;
      }

      #search-button {
        margin: 0 40%;
      }
    }

    #price-list {
      padding-top: 16px;
    }
  }

  .pac-container {
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Raleway', sans-serif;
    border-radius: 0 0 8px 8px;
    border: none;
    box-shadow: none;
  }

  .pac-item {
    &:nth-child(1) {
      border-top: none;
    }

    font-size: 14px;
  }
}
